@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #A8806B;
	--color-theme-2: #40b3ff;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
header {
    display: flex;
    justify-content: space-between;
}

.corner {
    width: 5em;
    height: 5em;
}

.corner a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.corner img {
    width: 5em;
    height: 5em;
    object-fit: contain;
}

nav {
    display: flex;
    justify-content: center;
    --background: #F2D6BE;
}

svg {
    width: 2em;
    height: 3em;
    display: block;
}

path {
    fill: var(--background);
}

ul {
    position: relative;
    padding: 0;
    margin: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: var(--background);
    background-size: contain;
}

li {
    position: relative;
    height: 100%;
}

li[aria-current='page']::before {
    --size: 6px;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: calc(50% - var(--size));
    border: var(--size) solid transparent;
    border-top: var(--size) solid var(--color-theme-1);
}

nav a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--color-text);
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 0.2s linear;
}

a:hover {
    color: var(--color-theme-1);
}

.waves {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: -10px; /*Fix for safari gap*/
    min-height: 120px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

li a {text-decoration : none; color : #2d2f31;}

span {
  padding : 30px;
  background : #2d2f31;
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
}

/* Animation */

.parallax > use {
    animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -120s;
    animation-duration: 140;
}
.parallax > use:nth-child(2) {
    animation-delay: -40s;
    animation-duration: 60;
}
.parallax > use:nth-child(3) {
    animation-delay: -80s;
    animation-duration: 100s;
}
.parallax > use:nth-child(4) {
    animation-delay: -40s;
    animation-duration: 200s;
}

@for $i from 1 through 11 {
    header > :nth-child(#{$i}) {
        animation-name: fade;
        animation-duration: 550ms;
    }
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar-button:single-button {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #B4BEFE;
}
::-webkit-scrollbar-track {
    background: #55251B;
}

